# DEFAULT
messageSender.DEFAULT.httpMethod=GET
messageSender.DEFAULT.httpConnectTimeout=0
messageSender.DEFAULT.httpReadTimeout=1
messageSender.DEFAULT.beforeSyncMessageReplaceComponentName=syncMessageReplaceIn01,syncMessageReplaceIn02
messageSender.DEFAULT.afterSyncMessageReplaceComponentName=syncMessageReplaceOut01,syncMessageReplaceOut02
messageSender.DEFAULT.sslContextComponentName=

# RM21AB0100
messageSender.RM21AB0100.messageSenderClient=defaultMessageSenderClient
messageSender.RM21AB0100.httpMethod=GET
messageSender.RM21AB0100.uri=http://localhost:8090/rm21ab0100
messageSender.RM21AB0100.httpProxyHost=a.com
messageSender.RM21AB0100.httpProxyPort=10080

# RM21AB0200
messageSender.RM21AB0200.messageSenderClient=defaultMessageSenderClient
messageSender.RM21AB0200.httpMethod=POST
messageSender.RM21AB0200.uri=http://localhost:8090/rm21ab0200

# RM21AB0201
messageSender.RM21AB0201.messageSenderClient=defaultMessageSenderClient
messageSender.RM21AB0201.httpMethod=POST
messageSender.RM21AB0201.uri=http://localhost:8090/rm21ab0201

# RM21AB0202
messageSender.RM21AB0202.messageSenderClient=defaultMessageSenderClient
messageSender.RM21AB0202.httpMethod=POST
messageSender.RM21AB0202.uri=http://localhost:8090/rm21ab0202
messageSender.RM21AB0202.sslContextComponentName=nopSSLContextSettings
messageSender.DEFAULT.beforeSyncMessageReplaceComponentName=nopSyncMessageReplace
messageSender.DEFAULT.afterSyncMessageReplaceComponentName=nopSyncMessageReplace
messageSender.RM21AB0202.httpMessageIdGeneratorComponentName=nulltHttpMessageIdGenerator

# RM21AB0300
messageSender.RM21AB0300.messageSenderClient=defaultMessageSenderClient
messageSender.RM21AB0300.httpMethod=PUT
messageSender.RM21AB0300.uri=http://localhost:8090/rm21ab0300

# RM21AB0301
messageSender.RM21AB0301.messageSenderClient=defaultMessageSenderClient
messageSender.RM21AB0301.httpMethod=PUT
messageSender.RM21AB0301.uri=http://localhost:8090/rm21ab0301

# RM21AB0400
messageSender.RM21AB0400.messageSenderClient=defaultMessageSenderClient
messageSender.RM21AB0400.httpMethod=DELETE
messageSender.RM21AB0400.uri=http://localhost:8090/rm21ab0400

# RM21AB0401
messageSender.RM21AB0401.messageSenderClient=defaultMessageSenderClient
messageSender.RM21AB0401.httpMethod=DELETE
messageSender.RM21AB0401.uri=http://localhost:8090/rm21ab0401

# RM21AB0500
messageSender.RM21AB0500.messageSenderClient=defaultMessageSenderClient
messageSender.RM21AB0500.httpMethod=GET
messageSender.RM21AB0500.uri=http://localhost:8090/rm21ab0500

# RM21AB0501
messageSender.RM21AB0501.messageSenderClient=defaultMessageSenderClient
messageSender.RM21AB0501.httpMethod=GET
messageSender.RM21AB0501.uri=http://localhost:8090/rm21ab0501

# RM21AB0502
messageSender.RM21AB0502.messageSenderClient=defaultMessageSenderClient
messageSender.RM21AB0502.httpMethod=GET
messageSender.RM21AB0502.uri=http://localhost:8090/rm21ab0502

# RM21AB0600
messageSender.RM21AB0600.messageSenderClient=defaultMessageSenderClient
messageSender.RM21AB0600.httpMessageIdGeneratorComponentName=defaultHttpMessageIdGenerator
messageSender.RM21AB0600.httpMethod=GET
messageSender.RM21AB0600.uri=http://localhost:8090/rm21ab0600

# RM21AB0700
messageSender.RM21AB0700.messageSenderClient=defaultMessageSenderClient
messageSender.RM21AB0700.httpMessagingUserId=user01
messageSender.RM21AB0700.httpMethod=POST
messageSender.RM21AB0700.uri=http://localhost:8090/rm21ab0700