# DEFAULT
messageSender.DEFAULT.httpMethod=GET
messageSender.DEFAULT.httpConnectTimeout=0
messageSender.DEFAULT.httpReadTimeout=1
messageSender.DEFAULT.beforeSyncMessageReplaceComponentName=syncMessageReplaceIn01,syncMessageReplaceIn02
messageSender.DEFAULT.afterSyncMessageReplaceComponentName=syncMessageReplaceOut01,syncMessageReplaceOut02
messageSender.DEFAULT.sslContextComponentName=defaultSSLContextSettings
messageSender.DEFAULT.proxyComponentName=defaultHttpProxySettings

# RM21AC0100
messageSender.RM21AC0100.messageSenderClient=defaultMessageSenderClient
messageSender.RM21AC0100.httpMethod=POST
messageSender.RM21AC0100.uri=http://localhost:8090/rm21ac0100

# RM21AC0200
messageSender.RM21AC0200.messageSenderClient=defaultMessageSenderClient
messageSender.RM21AC0200.httpMethod=POST
messageSender.RM21AC0200.uri=http://localhost:8090/rm21ac0200

# RM21AC0300
messageSender.RM21AC0300.messageSenderClient=defaultMessageSenderClient
messageSender.RM21AC0300.httpMethod=HOGE
messageSender.RM21AC0300.uri=http://localhost:8090/rm21ac0300
